

::-webkit-scrollbar-track{
  background: none;
  border-radius: 1rem;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color:  rgb(220,53,69);
  border-radius: 1rem;
  height: 1rem;
}

